# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

4) Can a python print function take no value to print???

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

ANWERS:

In [43]:
# Q1
print(f"{"string:"}{'"string"'} -- {"int:"}{10} -- {"float:"}{10/2.3} -- {"boolean:"}{10-5==5}",)

string:"string" -- int:10 -- float:4.347826086956522 -- boolean:True

In [44]:
# Q2
print(type(True), type("hi"), type(5), type(5.01), sep=(" - "))

<class 'bool'> - <class 'str'> - <class 'int'> - <class 'float'>

In [49]:
# Q3
print("Hi", end=" - ")
print(True, end=" - ")
print(4, end=" - ")
print(2.3)

Hi - True - 4 - 2.3

In [53]:
#Q4
emptyval = ''
print(emptyval)
print("Ans: Yes it can")
bachelorDoneInYear = 2005

Ans: Yes it can

In [41]:
#Q5
friendsName = "Ahmed"
friendsAge = 30
friendsProffesion = "lawyer"
gotachelorDegree = 2005
workingWithFirm = "The Himalya Associates"
workingWhere = "Karachi"
workingSince = 2015
height = 5.10
weightInGrams = 70600
monthlyIncome = 200000
currentYear = 2024

In [7]:
#Q5
print(f"{"it has been" } {currentYear - gotachelorDegree} {"years"}")

it has been 19 years

In [8]:
#Q6
print(f"{friendsName + " has been Working with"} {workingWithFirm + " in"} { workingWhere + " since"} {currentYear - workingSince } {"years"}")

Ahmed has been Working with The Himalya Associates in Karachi since 9 years

In [48]:
currentRateOfDollar = 278.49
result = monthlyIncome // currentRateOfDollar
print("Ahmeds monthly salary in dollars is " + str(result))

Ahmeds monthly salary in dollars is 718.0

In [52]:
#Q9
print(type(result))
print(type(int(result)))

<class 'float'>
<class 'int'>

In [58]:
#Q10
print(type(weightInGrams))
gramsIntoKg = 1000
weightInKg = weightInGrams / gramsIntoKg      #// can be used to get a number without deciamls
print(type(int(weightInKg)))                  #int() function can be also be used to    
                                              #convert values in integers

<class 'int'>
<class 'int'>

In [66]:
res = 100%6
print(f"{"no 100 rupees cannot be divided equally in 6 students"} {res} {"rupees would be left"}")

no 100 rupees cannot be divided equally in 6 students 4 rupees would be left